/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body{
    font-family: Verdana;
    background: #f6f6f6;
    padding: 10px;
}

/* HEADER */
header{
    background: #023e8a;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section{
    margin: 30px 0;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* FORMULARIO */
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button{
    padding: 12px;
    background: #0096c7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background: #0077b6;
}

/* RESPONSIVE */
@media (max-width: 600px){
    body{
        font-size: 14px;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}
